{{ define "things" }}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Things I Like About</title>
      <script src="/javascript/things.placeholder.client.js"></script>
      <script src="/javascript/things.api.js"></script>            
      <script src="/javascript/things.init.js"></script>
      <link type="text/css" rel="stylesheet" href="/css/things.css" />
  </head>
  <body>

      <div class="container">            

	  <div class="row" id="query">
	      <form>
		  <input type="text" name="place" id="place" value="" placeholder="choose a place" />
	      </form>
	  </div>

	  <div class="row" id="results">
	  </div>

	  <br clear="all" />
	  
	  <div class="row" id="thing-form" style="display:none;">

	      <span id="thing-label"></span>
	      
	      <form>
		  <textarea name="thing-body" id="thing-body" data-whosonfirst-id=""></textarea>
		  <div>
		      <button id="thing-submit" type="submit" class="btn btn-sm btn-primary">Add</button>
		      <button id="thing-cancel" type="submit" class="btn btn-sm btn">Cancel</button>
		  </div>
	      </form>
	      
	  </div>
		  
      </div>
      
  </body>
</html>
{{ end }}
